@font-face {
    font-family: 'Tajawal-Bold';
    src: url(./src/assets/fonts/Tajawal-Bold.ttf);
}

@font-face {
    font-family: 'Tajawal-Light';
    src: url(./src/assets/fonts/Tajawal-Light.ttf);
}

@font-face {
    font-family: 'Tajawal-Regular';
    src: url(./src/assets/fonts/Tajawal-Regular.ttf);
}

* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

h1,h2,button {
    padding: 0;
    margin: 0;
}

html{
    scroll-behavior: smooth;
}


button {
    background-color: transparent;
    border: 0;
    font-family: 'Tajawal-Bold';
}

body {
    --bg: #ece0d1;
    --sec-bg : #dbc1ac;
    --bg-menu:  #967259;
    --text: #634832;
    --text-wb: #040404;
    --text-wb-menu: #f4f4f4;


    --yy: #967259;


    background-color: var(--bg);
    font-family: 'Tajawal-Regular';
    min-height: 2000px;
}

.dark {
    --bg:#634832 ;
    --sec-bg : #38220f;
    --bg-menu:  #967259;
    --text: #dbc1ac;
    --text-wb: #f4f4f4;
    --text-wb-menu: #040404;
}

hr {
    width: 80%;
    margin: 0 auto;
    height: 4px;
    background-color: var(--text);
    border-radius: 50%;
}