@font-face {
    font-family: 'Tajawal-Bold';
    src: url(./src/assets/fonts/Tajawal-Bold.ttf);
}

@font-face {
    font-family: 'Tajawal-Light';
    src: url(./src/assets/fonts/Tajawal-Light.ttf);
}

@font-face {
    font-family: 'Tajawal-Regular';
    src: url(./src/assets/fonts/Tajawal-Regular.ttf);
}

* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
}


button {
    background-color: transparent;
    border: 0;
    font-family: 'Tajawal-Bold';
}

body {
    --bg: #ece0d1;
    --sec-bg : #dbc1ac;
    --text: #634832;
    --yy: #967259;

    
    background-color: var(--bg);
    font-family: 'Tajawal-Regular';
    min-height: 1500px;
}

.dark {
    --bg:#634832 ;
    --sec-bg : #38220f;
    --text: #dbc1ac;
}

