.about-us-content {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 80%;
}

.about-us-content .img {
    width: 250px;
    display: flex;
}

.about-us-content .text {
    max-width: 50%;
    color: var(--text);
}

.about-us-content .text .about {
    display: flex;
    gap: 15px;
    align-items: center;
}

.about-us-content .text .about .icon-about {
    color: var(--text);
    font-size: 26px;
}

.about-us-content .text .about .icon-about:hover {
    scale: .975;
}

.about-us-content .text .about .icon-about:active {
    opacity: .7;
}


@media (max-width: 1100px) {
    .about-us-content {
        padding: 0 10px;
        width: 100%;
    }
}

@media (max-width: 870px) {
    .about-us-content .text {
        max-width: 70%;
    }
}


@media (max-width: 650px) {
    .about-us-content .text {
        font-size: 18px;
    }
}

@media (max-width: 600px) {

    .about-us-content {
        flex-wrap: wrap;
    }

    .about-us-content .img{
        margin-top: -10px;
        width: 200px;
    }

    

    .about-us-content .text {
        font-size: 15px;
    }

    @media (max-width: 870px) {
        .about-us-content .text {
            max-width: 85%;
        }
    }
    
}