header .right {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 15px;
    align-items: center;
}


header {
    z-index: 9999;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-right: 10px;
    background-color: var(--sec-bg);
    overflow: hidden;
}

.menu-icon {
    display: none;
}

.toggle-dark, .menu-icon {
    padding-top: 2.5px;
}

.toggle-dark img,  .menu-icon img  {
    width: 32px;
    background-color: transparent;

}

.menu-icon img {
    width: 40px;
}

header img {
    width: 200px;
}

#profile-btn {
    height: 40px;
    background-color: transparent;
    border: solid var(--text);
    border-radius: 50%;
    padding: 5px;
}

#profile-btn #profile, #profile-btn #profile-menu  {
    width: 24px;
}

.nav-bar {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.nav-bar button {
    color: var(--text);
    position: relative;
}

.nav-bar button::after {
    transition: 0.3s;
    content: "";
    height: 3px;
    position: absolute;
    background-color: var(--text);
    width: 0%;
    bottom: -2px;
    left: 0;
}

.nav-bar button.active::after,
.nav-bar button:hover::after{
    width: 100%;
}


.nav-bar-menu {
    position: absolute;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--text);
    
    right: 0;
    top: 62px;
    z-index: 1000;
    width: 200px;
    /* height: ; */
    padding: 20px 0;
    animation: openMenu 1s ease;
}

.nav-bar-menu button{
    font-size: 22px;
    color: var(--text-wb-menu);
    border-top: solid 2px;
    padding: 8px 0;
    width: 70%;
}

.openNav {
    display: flex;
}

@keyframes openMenu {
    0% {
        opacity: .8;
    }

    100%{ 
        opacity: 1;

    }
} 

@media (max-width: 675px) {
    .nav-bar {
        display: none;
    }

    .profile-btn {
        display: none;
    }

    .menu-icon {
        display: block;
    }
}