section.hero {
    position: relative;
    z-index: 1;
    display: none;
    align-items: center;
    width: 100%;
    height: 700px;
    background: url('../assets/IMG/wooden.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    overflow-x: hidden;
    box-shadow: 0px 23px 15px 2px rgba(1,1,1,0.2);
}

#bgImg {
    display: none;
}

.coffee-cup {
    --coffee-cup-width: 500px;
    position: absolute;
    top: 20%;

    width: var(--coffee-cup-width);
    animation: rotation 2s ease;
    animation-fill-mode: forwards;
}

section.hero .left {

    position: absolute;
    top: 15%;
    left: 64px;

    animation: fade ease 2s;

}

.hero-text {
    display: flex;
    flex-direction: column;
    color: #dbc1ac;
}


section.hero h1 {
    font-size: 78px;
}


section.hero h2 {
    font-size: 48px;
    font-family: 'Tajawal-light';
    font-weight: 200;
}

section.hero .hero-text img {
    width: 300px;
    margin-left: -30px;
    margin-bottom: -20px;
}

.hero .left .hero-btns {
    display: flex;
    flex-direction: row;
    width: 80%;
    justify-content: space-around;

}

.button-30 {
    align-items: center;
    appearance: none;
    background-color: #dbc1ac;
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #7877772c 0 -3px 0 inset;
    color: #38220f;
    cursor: pointer;
    display: inline-flex;
    font-weight: 100;
    font-family: 'Tajawal-light';
    height: 58px;
    width: 150px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s, transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 24px;
}


.button-30:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #7877772c 0 -3px 0 inset;
    transform: translateY(-2px);
}

.button-30:active {
    box-shadow: #7877772c 0 3px 7px inset;
    transform: translateY(2px);
}

.about-us {
    color: #dbc1ac;
    background-color: #38220f;
}


@keyframes rotation-onph {
    0% {
        transform: translate(0 - 0) rotate(0);
    }

    100% {
        transform: translate(calc(50vw - (var(--coffee-cup-width))/ 2), 0) rotate(90deg);
    }
}

@keyframes rotation {
    0% {
        transform: translate(0 - 0) rotate(0);
    }

    100% {
        transform: translate(calc(100vw - var(--coffee-cup-width)), 0) rotate(90deg);
    }
}


@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@media (max-width: 1200px) {
    .coffee-cup {
        --coffee-cup-width: 400px;
    }
}

@media (max-width: 1100px) {
    .coffee-cup {
        --coffee-cup-width: 350px;
    }

    section.hero h1 {
        font-size: 62px;
    }


    section.hero h2 {
        font-size: 40px;
    }

    section.hero .hero-text img {
        width: 250px;
        margin-left: -20px;
    }

    section.hero {
        height: 500px;
    }

}

@media (max-width: 900px) {
    .coffee-cup {
        --coffee-cup-width: 200px;
    }

    section.hero .left {
        left: 32px;
    }

    section.hero h1 {
        font-size: 50px;
    }

    .button-30 {
        width: 100px;
        height: 48px;
        font-size: 20px;
    }

    section.hero h2 {
        font-size: 30px;
    }

    section.hero {
    background-size: contain;
    height: 400px;
    }

}

@media (max-width: 710px) {

    section.hero h1 {
        font-size: 40px;
    }

    section.hero h2 {
        font-size: 24px;
        margin-top: -15px;
    }

    section.hero .hero-text img {
        width: 200px;
        margin-left: -10px;
    }

    section.hero {
        height: 300px;
    }
}

@media (max-width: 625px) {

    .coffee-cup {
        top: 10px;
        animation: rotation-onph 2s ease;
        animation-fill-mode: forwards;
    }

    section.hero .left {
        top: 250px;
    }

    section.hero .left {
        left: calc((100vw - 400px)/2);
    }

    section.hero {
        height: 500px;
        /* background-size: contain; */

    }
    .hero .left .hero-btns {
        width: 90%;
    }
}

@media (max-width: 460px) {

    section.hero .left {
        top: 230px;
        left: calc((100vw - 300px)/2);
    }

    section.hero h1 {
        font-size: 32px;
    }

    section.hero h2 {
        font-size: 20px;
        margin-top: -15px;
    }

    section.hero .hero-text img {
        width: 150px;
        margin-left: -10px;
    }

    .button-30 {
        width: 90px;
        height: 42px;
        font-size: 18px;
    }
}

@media (max-width: 375px) {

    section.hero .left {
        left: calc((100vw - 315px)/2);
    }


    section.hero .hero-text img {
        width: 120px;
        margin-bottom: -10px;
    }

    .hero .left .hero-btns {
        width: 100%;
    }
}